In [1]:
'Hello Kamalapreetha'

'Hello Kamalapreetha'

In [2]:
x=4
y=7

In [3]:
z=x+y

In [4]:
z

11

In [5]:
'x=2,y=3'

'x=2,y=3'

In [6]:
print('x=2,y=3')

x=2,y=3

In [7]:
'z=x+5'

'z=x+5'

In [8]:
a=2
b=4

In [9]:
x='hello'

In [10]:
x

'hello'

In [11]:
x=2

In [12]:
y=3

In [13]:
z=x+y

In [14]:
z

5

In [15]:
print('hello')

hello

In [16]:
"hello"

'hello'

In [17]:
"lot's of student"

"lot's of student"

In [18]:
roll = 7

In [19]:
name='kamali'

In [20]:
print('my roll number is:{one} and my name is:{two}'.format(one=roll,two=name))

my roll number is:7 and my name is:kamali

In [21]:
print('my roll number is:{} and my name is:{}'.format(roll,name))

my roll number is:7 and my name is:kamali

In [22]:
[1,2,3]

[1, 2, 3]

In [23]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [24]:
mylist=['a','b','c']

In [25]:
mylist

['a', 'b', 'c']

In [26]:
mylist .append('d')

In [27]:
mylist

['a', 'b', 'c', 'd']

In [28]:
mylist[0]

'a'

In [29]:
mylist[1:]

['b', 'c', 'd']

In [30]:
mylist[:1]

['a']

In [31]:
mylist[1]='pink'

In [32]:
mylist

['a', 'pink', 'c', 'd']

In [33]:
nest=[1,2,3,[4,5,['target']]]

In [34]:
nest[3]

[4, 5, ['target']]

In [35]:
nest[3][2].append('kamali')

In [36]:
nest[3]

[4, 5, ['target', 'kamali']]

In [37]:
nest

[1, 2, 3, [4, 5, ['target', 'kamali']]]

In [38]:
nest[3]

[4, 5, ['target', 'kamali']]

In [39]:
nest[3][2]

['target', 'kamali']

In [40]:
nest[3][1]

5

In [41]:
nest[3][2][1]

'kamali'

In [42]:
nest[3][2][0]

'target'

In [43]:
d={'name':'kamali','city':'thanjavur'}

In [44]:
d

{'name': 'kamali', 'city': 'thanjavur'}

In [45]:
d['city']

'thanjavur'

In [46]:
z==5

True

In [47]:
z==7

False

In [48]:
t=(1,2,3)

In [49]:
#t(2)= error due to tuple
t[2]# correct form

3

In [50]:
t[2]

3

In [51]:
{1,2,3}

{1, 2, 3}

In [52]:
{1,2,1,1,3,3,2,2,4,4,1,1,2,3}

{1, 2, 3, 4}

In [53]:
1<2

True

In [54]:
1==2

False

In [55]:
1>=1

True

In [56]:
#'hi'='bye' -- it is awrong comment
# correct form
'hi'=='bye'

False

In [57]:
'hi'=='bye'

False

In [58]:
(1>2) and (2<3)

False

In [59]:
(1==2) or (2==3) or (4==4)

True

In [60]:
# error if 1>2:

In [61]:
if 1>2:
    print('first')
    # else comment is missio=ng so no print statement or output

In [62]:
if 1>2:
    print('first')
else:
    print('no')

no

In [63]:
number=[1,2,3,4,5]
for cls in number:
    print(cls)

1
2
3
4
5

In [64]:
for cls in number:
    print(cls+cls)

2
4
6
8
10

In [65]:
range(5)

range(0, 5)

In [66]:
for i in range(5):
    print(i)

0
1
2
3
4

In [67]:
kp=[1,2,3,4]

In [68]:
ak=[]

In [69]:
for project in kp:
    ak.append(project**2)

In [70]:
print(ak)

[1, 4, 9, 16]

In [71]:
[ak+2 for ak in kp]

[3, 4, 5, 6]

In [72]:
for ink in kp:
    ak.append(ink*2)

In [73]:
print(ak)

[1, 4, 9, 16, 2, 4, 6, 8]

In [74]:
[ak+2 for ak in kp]

[3, 4, 5, 6]