# importing libraries

In [1]:
import pandas as kp

In [2]:
import numpy as ak

# variable asssignments for creating series

In [3]:
# is for creating comments

In [4]:
initials=['k','v','b','p']

In [5]:
lists= [4,9,25,30]

In [6]:
array=ak.array([2,4,6,8])

In [7]:
dictionary={'a':1,'b':2,'c':3,'d':4}

In [8]:
kp.Series(initials)

0    k
1    v
2    b
3    p
dtype: object

In [9]:
kp.Series(initials,lists)

4     k
9     v
25    b
30    p
dtype: object

In [10]:
kp.Series(lists,initials)

k     4
v     9
b    25
p    30
dtype: int64

In [11]:
kp.Series(array,lists)

4     2
9     4
25    6
30    8
dtype: int32

In [12]:
kp.Series(dictionary)

a    1
b    2
c    3
d    4
dtype: int64

# series addition using index

In [13]:
ser1=kp.Series(['dubai','singapore','london','germany'],['1','2','3','4'])

In [14]:
ser1

1        dubai
2    singapore
3       london
4      germany
dtype: object

In [15]:
ser2=kp.Series(['dubai','singapore','venice','belgium','germany'],['1','2','6','4',5])

In [16]:
ser2

1        dubai
2    singapore
6       venice
4      belgium
5      germany
dtype: object

In [17]:
ser1+ser2

5                   NaN
1            dubaidubai
2    singaporesingapore
3                   NaN
4        germanybelgium
6                   NaN
dtype: object

In [18]:
len(ser2)

5

#sum(ser2)
---------------------------------------------------------------------------
#TypeError                                 Traceback (most recent call last)
<ipython-input-24-8dbba307f98e> in <module>
----> 1 sum(ser2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [19]:
sum(lists)

68

# Data frames (df)

In [20]:
from numpy.random import randn
ak.random.seed(25)

In [21]:
df=kp.DataFrame(randn(4,4),index='p q r s'.split(),columns='age height dob exp'.split())

In [22]:
df

        age    height       dob       exp
p  0.228273  1.026890 -0.839585 -0.591182
q -0.956888 -0.222326 -0.619915  1.837905
r -2.053231  0.868583 -0.920734 -0.232312
s  2.152957 -1.334661  0.076380 -1.246089

In [23]:
df['dob']

p   -0.839585
q   -0.619915
r   -0.920734
s    0.076380
Name: dob, dtype: float64

In [24]:
df[['dob','age']]

        dob       age
p -0.839585  0.228273
q -0.619915 -0.956888
r -0.920734 -2.053231
s  0.076380  2.152957

df[['p','q'],axis=0]
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-24-8dbba307f98e> in <module>
----> 1 sum(ser2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

df(['p'],axis=0)
--------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-35-ffc4baba723d> in <module>
----> 1 df(['p'],axis=0)

TypeError: 'DataFrame' object is not callable

In [25]:
df.age

p    0.228273
q   -0.956888
r   -2.053231
s    2.152957
Name: age, dtype: float64

# df.p
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-27-d896aa847afc> in <module>
----> 1 df.p

~\anaconda3\lib\site-packages\pandas\core\generic.py in __getattr__(self, name)
   5272             if self._info_axis._can_hold_identifiers_and_holds_name(name):
   5273                 return self[name]
-> 5274             return object.__getattribute__(self, name)
   5275 
   5276     def __setattr__(self, name: str, value) -> None:

AttributeError: 'DataFrame' object has no attribute 'p'

# type function is used to define 'format' of the given attribute

In [26]:
type(df['age'])

pandas.core.series.Series

In [27]:
type(array)

numpy.ndarray

In [28]:
type(dictionary)

dict

In [29]:
x=[1,3,5,7]
y=[2,4,6,8]

In [30]:
# df['numbers']=kp.Series(x)+kp.Series(y)
# pandas cannot undergo mathematical operation

In [31]:
x=kp.Series(x)
y=kp.Series(y)

In [32]:
x

0    1
1    3
2    5
3    7
dtype: int64

In [33]:
y

0    2
1    4
2    6
3    8
dtype: int64

In [34]:
df['numbers']= df['age']+df['height']

In [35]:
df

        age    height       dob       exp   numbers
p  0.228273  1.026890 -0.839585 -0.591182  1.255163
q -0.956888 -0.222326 -0.619915  1.837905 -1.179214
r -2.053231  0.868583 -0.920734 -0.232312 -1.184648
s  2.152957 -1.334661  0.076380 -1.246089  0.818295

In [36]:
x+y

0     3
1     7
2    11
3    15
dtype: int64

In [37]:
dfdr=df.drop(['numbers'], axis=1)

In [38]:
dfdr

        age    height       dob       exp
p  0.228273  1.026890 -0.839585 -0.591182
q -0.956888 -0.222326 -0.619915  1.837905
r -2.053231  0.868583 -0.920734 -0.232312
s  2.152957 -1.334661  0.076380 -1.246089

In [39]:
df

        age    height       dob       exp   numbers
p  0.228273  1.026890 -0.839585 -0.591182  1.255163
q -0.956888 -0.222326 -0.619915  1.837905 -1.179214
r -2.053231  0.868583 -0.920734 -0.232312 -1.184648
s  2.152957 -1.334661  0.076380 -1.246089  0.818295

In [40]:
dfdr=df.drop(['s'], axis=0)

In [41]:
dfdr

        age    height       dob       exp   numbers
p  0.228273  1.026890 -0.839585 -0.591182  1.255163
q -0.956888 -0.222326 -0.619915  1.837905 -1.179214
r -2.053231  0.868583 -0.920734 -0.232312 -1.184648

df.drop(['numbers'],axis=1)
--------------------------`------------------------------------------------
KeyError                                  Traceback (most recent call last)
<ipython-input-69-c4ba0e160c55> in <module>
----> 1 df.drop(['numbers'],axis=1)

~\anaconda3\lib\site-packages\pandas\core\frame.py in drop(self, labels, axis, index, columns, level, inplace, errors)
   3995             level=level,
   3996             inplace=inplace,
-> 3997             errors=errors,
   3998         )
   3999 

~\anaconda3\lib\site-packages\pandas\core\generic.py in drop(self, labels, axis, index, columns, level, inplace, errors)
   3934         for axis, labels in axes.items():
   3935             if labels is not None:
-> 3936                 obj = obj._drop_axis(labels, axis, level=level, errors=errors)
   3937 
   3938         if inplace:

~\anaconda3\lib\site-packages\pandas\core\generic.py in _drop_axis(self, labels, axis, level, errors)
   3968                 new_axis = axis.drop(labels, level=level, errors=errors)
   3969             else:
-> 3970                 new_axis = axis.drop(labels, errors=errors)
   3971             result = self.reindex(**{axis_name: new_axis})
   3972 

~\anaconda3\lib\site-packages\pandas\core\indexes\base.py in drop(self, labels, errors)
   5016         if mask.any():
   5017             if errors != "ignore":
-> 5018                 raise KeyError(f"{labels[mask]} not found in axis")
   5019             indexer = indexer[~mask]
   5020         return self.delete(indexer)

KeyError: "['numbers'] not found in axis"

In [42]:
df

        age    height       dob       exp   numbers
p  0.228273  1.026890 -0.839585 -0.591182  1.255163
q -0.956888 -0.222326 -0.619915  1.837905 -1.179214
r -2.053231  0.868583 -0.920734 -0.232312 -1.184648
s  2.152957 -1.334661  0.076380 -1.246089  0.818295