In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.cluster import KMeans
import seaborn as sns

In [2]:
data=pd.read_csv(r"C:\Users\KAMALI--9-9--\Downloads\Data science\Datasets\BlueOrRed.csv")

In [3]:
data.head()

,Undecided,Age,HomeOwner,Female,Married,HouseholdSize,Income,Education,Church
0,1,51,1,1,1,4,171.0,15,0
1,1,37,1,1,1,3,96.0,18,0
2,1,53,1,1,1,6,86.0,20,0
3,0,33,1,1,1,2,176.0,18,1
4,0,46,1,1,1,6,420.0,15,1

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Undecided      10000 non-null  int64
 1   Age            10000 non-null  int64
 2   HomeOwner      10000 non-null  int64
 3   Female         10000 non-null  int64
 4   Married        10000 non-null  int64
 5   HouseholdSize  10000 non-null  int64
 6   Income         10000 non-null  float64
 7   Education      10000 non-null  int64
 8   Church         10000 non-null  int64
dtypes: float64(1), int64(8)
memory usage: 703.2 KB

In [5]:
data.isnull().any()

Undecided        False
Age              False
HomeOwner        False
Female           False
Married          False
HouseholdSize    False
Income           False
Education        False
Church           False
dtype: bool

In [6]:
data.drop(['Undecided'],axis=1,inplace=True)

In [7]:
data

,Age,HomeOwner,Female,Married,HouseholdSize,Income,Education,Church
0,51,1,1,1,4,171.0,15,0
1,37,1,1,1,3,96.0,18,0
2,53,1,1,1,6,86.0,20,0
3,33,1,1,1,2,176.0,18,1
4,46,1,1,1,6,420.0,15,1
...,...,...,...,...,...,...,...,...
9995,27,1,1,0,1,140.5,12,0
9996,32,1,1,1,2,79.0,11,1
9997,35,0,1,0,1,15.0,8,1
9998,26,0,0,0,5,5.0,11,1
9999,26,0,1,1,2,6.0,8,0

In [8]:
x=data.iloc[:,[4,5]].values

In [10]:
x

array([[  4., 171.],
       [  3.,  96.],
       [  6.,  86.],
       ...,
       [  1.,  15.],
       [  5.,   5.],
       [  2.,   6.]])

In [11]:
wcss=[]

for i in range(0,10):
    kmeans=KMeans(n_clusters=i,init='k-means++',random_state=3)
    kmeans.fit(x)
    wcss.append(kmeans.inertia_)

for i in range(0,10):
    kmeans=KMeans(n_clusters=i,init='k-means++',random_state=2)
    kmeans.fit(x)
    wcss.append(kmeans.inertia_)

In [13]:
data['Income'].astype(np.int64)
#To convert the float to integer type

0       171
1        96
2        86
3       176
4       420
       ...
9995    140
9996     79
9997     15
9998      5
9999      6
Name: Income, Length: 10000, dtype: int64

In [14]:
for i in range(0,10):
    kmeans=KMeans(n_clusters=i,init='k-means++',random_state=3) 
    kmeans.fit(x) 
    wcss.append(kmeans.inertia_)

C:\Users\KAMALI--9-9--\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:88: RuntimeWarning: divide by zero encountered in log
  n_local_trials = 2 + int(np.log(n_clusters))

OverflowError: cannot convert float infinity to integer