In [1]:
import re 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import nltk
import string 
import warnings
warnings.filterwarnings("ignore",category=DeprecationWarning)

In [2]:
train=pd.read_csv('https://raw.githubusercontent.com/dD2405/Twitter_Sentiment_Analysis/master/train.csv')

In [3]:
test=pd.read_csv('https://raw.githubusercontent.com/dD2405/Twitter_Sentiment_Analysis/master/test.csv')

In [4]:
traincopy=train.copy()
testcopy=test.copy()
#Copying a dataset

In [5]:
combine=traincopy.append(testcopy,ignore_index=True,sort=True)

In [6]:
combine

          id  label                                              tweet
0          1    0.0   @user when a father is dysfunctional and is s...
1          2    0.0  @user @user thanks for #lyft credit i can't us...
2          3    0.0                                bihday your majesty
3          4    0.0  #model   i love u take with u all the time in ...
4          5    0.0             factsguide: society now    #motivation
...      ...    ...                                                ...
49154  49155    NaN  thought factory: left-right polarisation! #tru...
49155  49156    NaN  feeling like a mermaid ð #hairflip #neverre...
49156  49157    NaN  #hillary #campaigned today in #ohio((omg)) &am...
49157  49158    NaN  happy, at work conference: right mindset leads...
49158  49159    NaN  my   song "so glad" free download!  #shoegaze ...

[49159 rows x 3 columns]

In [7]:
combine.head(10)

   id  label                                              tweet
0   1    0.0   @user when a father is dysfunctional and is s...
1   2    0.0  @user @user thanks for #lyft credit i can't us...
2   3    0.0                                bihday your majesty
3   4    0.0  #model   i love u take with u all the time in ...
4   5    0.0             factsguide: society now    #motivation
5   6    0.0  [2/2] huge fan fare and big talking before the...
6   7    0.0   @user camping tomorrow @user @user @user @use...
7   8    0.0  the next school year is the year for exams.ð...
8   9    0.0  we won!!! love the land!!! #allin #cavs #champ...
9  10    0.0   @user @user welcome here !  i'm   it's so #gr...

In [8]:
combine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49159 entries, 0 to 49158
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      49159 non-null  int64
 1   label   31962 non-null  float64
 2   tweet   49159 non-null  object
dtypes: float64(1), int64(1), object(1)
memory usage: 1.1+ MB

In [9]:
combine.isnull().any()

id       False
label     True
tweet    False
dtype: bool

# Preprocessing for sentimental analysis
# Removing Pattern 
eg- Tags in social media, hyperlinks in wikipedia/journals

In [10]:
def remove_pattern(text,pattern):
    r=re.findall(pattern,text)
    for i in r:
        text=re.sub(i,"",text) 
    return text

In [11]:
# re.sub is a function to remove whatever ve desired to remove
#instead od term Pattern- can use "" to mention all the special characters

In [12]:
remove_pattern
#if output - function_main - function dfined by the user is approved by the jupyter notebook(python)

In [13]:
combine['tidytweet']=np.vectorize(remove_pattern)(combine['tweet'],"@[\w]*")

In [14]:
combine.head()

,id,label,tweet,tidytweet
0,1,0.0,@user when a father is dysfunctional and is s...,when a father is dysfunctional and is so sel...
1,2,0.0,@user @user thanks for #lyft credit i can't us...,thanks for #lyft credit i can't use cause th...
2,3,0.0,bihday your majesty,bihday your majesty
3,4,0.0,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...
4,5,0.0,factsguide: society now #motivation,factsguide: society now #motivation

# Removing emojis and punctuations from data

In [32]:
combine['tidytweet']=combine['tidytweet'].str.replace("[^a-zA-Z#]","  ")

In [33]:
combine['tidytweet']

0        whenafatherisdysfunctionalandissoselfishhedrag...
1        thanksfor#lyftcrediticantusecausetheydontoffer...
2                                        bihdayyourmajesty
3                      #modeliloveutakewithuallthetimeinur
4                          factsguidesocietynow#motivation
                               ...
49154    thoughtfactoryleftrightpolarisation#trump#usel...
49155    feelinglikeamermaid#hairflip#neverready#formal...
49156    #hillary#campaignedtodayin#ohioomgampusedwords...
49157    happyatworkconferencerightmindsetleadstocultur...
49158    mysongsogladfreedownload#shoegaze#newmusic#new...
Name: tidytweet, Length: 49159, dtype: object

In [34]:
combine.head()

,id,label,tweet,tidytweet
0,1,0.0,@user when a father is dysfunctional and is s...,whenafatherisdysfunctionalandissoselfishhedrag...
1,2,0.0,@user @user thanks for #lyft credit i can't us...,thanksfor#lyftcrediticantusecausetheydontoffer...
2,3,0.0,bihday your majesty,bihdayyourmajesty
3,4,0.0,#model i love u take with u all the time in ...,#modeliloveutakewithuallthetimeinur
4,5,0.0,factsguide: society now #motivation,factsguidesocietynow#motivation

In [35]:
combine['tidytweet'] = combine['tidytweet'].apply(lambda new : " ".join([word for word in new.split() if len(word)>3]))

In [36]:
combine.head()

,id,label,tweet,tidytweet
0,1,0.0,@user when a father is dysfunctional and is s...,whenafatherisdysfunctionalandissoselfishhedrag...
1,2,0.0,@user @user thanks for #lyft credit i can't us...,thanksfor#lyftcrediticantusecausetheydontoffer...
2,3,0.0,bihday your majesty,bihdayyourmajesty
3,4,0.0,#model i love u take with u all the time in ...,#modeliloveutakewithuallthetimeinur
4,5,0.0,factsguide: society now #motivation,factsguidesocietynow#motivation