In [1]:
import pandas as pd

In [4]:
data=pd.read_csv('https://raw.githubusercontent.com/dD2405/Twitter_Sentiment_Analysis/master/train.csv')

In [6]:
data.head(20)

    id  label                                              tweet
0    1      0   @user when a father is dysfunctional and is s...
1    2      0  @user @user thanks for #lyft credit i can't us...
2    3      0                                bihday your majesty
3    4      0  #model   i love u take with u all the time in ...
4    5      0             factsguide: society now    #motivation
5    6      0  [2/2] huge fan fare and big talking before the...
6    7      0   @user camping tomorrow @user @user @user @use...
7    8      0  the next school year is the year for exams.ð...
8    9      0  we won!!! love the land!!! #allin #cavs #champ...
9   10      0   @user @user welcome here !  i'm   it's so #gr...
10  11      0   â #ireland consumer price index (mom) climb...
11  12      0  we are so selfish. #orlando #standwithorlando ...
12  13      0  i get to see my daddy today!!   #80days #getti...
13  14      1  @user #cnn calls #michigan middle school 'buil...
14  15      1  no comment!  in #australia   #opkillingbay #se...
15  16      0  ouch...junior is angryð#got7 #junior #yugyo...
16  17      0  i am thankful for having a paner. #thankful #p...
17  18      1                             retweet if you agree!
18  19      0  its #friday! ð smiles all around via ig use...
19  20      0  as we all know, essential oils are not made of...

In [10]:
import numpy as np
import re #re-regular expression - advantage in nlp
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings  # remove warning from algorithm or functions
warnings.filterwarnings("ignore",category=DeprecationWarning)
import nltk
import string

In [11]:
data_copy=data.copy()

In [12]:
test=pd.read_csv('https://raw.githubusercontent.com/dD2405/Twitter_Sentiment_Analysis/master/test.csv')

In [13]:
test_copy=test.copy()

In [14]:
combine=data.append(test,ignore_index=True,sort=True)

In [15]:
combine

          id  label                                              tweet
0          1    0.0   @user when a father is dysfunctional and is s...
1          2    0.0  @user @user thanks for #lyft credit i can't us...
2          3    0.0                                bihday your majesty
3          4    0.0  #model   i love u take with u all the time in ...
4          5    0.0             factsguide: society now    #motivation
...      ...    ...                                                ...
49154  49155    NaN  thought factory: left-right polarisation! #tru...
49155  49156    NaN  feeling like a mermaid ð #hairflip #neverre...
49156  49157    NaN  #hillary #campaigned today in #ohio((omg)) &am...
49157  49158    NaN  happy, at work conference: right mindset leads...
49158  49159    NaN  my   song "so glad" free download!  #shoegaze ...

[49159 rows x 3 columns]

In [16]:
data.shape

(31962, 3)

In [17]:
test.shape

(17197, 2)

In [18]:
combine.shape

(49159, 3)

In [19]:
combine.isnull().any()

id       False
label     True
tweet    False
dtype: bool